/* header */

#background-slider {
    transition: all 0.5s ease-in-out;
    position: fixed;

    top: calc(-100% + 50px);
    left: 0px;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);

    
}


#button-middle-zone{
    position: relative;

    top: 25%;
    left: calc(50% - 160px);
    width: 300px;
    height: fit-content;
    padding: 10px;

    text-align:center;
    vertical-align: middle;
}

#button-middle-zone a {
    position: relative;
    display: block;
    width:auto;
    height: 40px;

    color:rgb(255, 255, 255);

    font-family: 'Roboto', sans-serif, monospace;
    font-size: 34px;
    text-decoration: none;
}

.button-slider-selected {  
    font-weight: 500;
}

.button-slider {
    font-weight: 100;
}

.button-slider:hover {
    font-weight: 300;
    cursor: pointer;
}

#button-middle-zone a:hover:before {
    content: "- ";
  }

#button-middle-zone a:hover:after {
    content: " -";
}

#button-slider-activation {
    position: relative;

    top: 0px;
    height: 50px;
    width: 100%;
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}